data/embeddings/*
data/marco_documents/*
data/marco_documents_processed/*
data/training_data/*
data/exact_match_experiment/corpus/*
data/exact_match_experiment/embeddings/*
results/*
logs/*.out
logs/*.err

